$tipo-de-letras:verdana;
$tipo-letras:cursive;
$justificar:center;
$width:100%;
$height:250px;
$padding:25px;
$color:black;
$color1:#f7f7f7;
$color2:green;
$color3:blueviolet;
$color4:gray;
$color5:blue;
$color6:beige;
$color7:burlywood;
